.dreamPreviewBox {
  background-color: white;
  padding: 0 24px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.dreamId {
  font-size: 0.8rem;
  text-align: right;
  margin-bottom: 0;
}

.bodyContentBox button {
  margin-right: 10px;
}

#sendDreamSubmit {
  display: none;
}

.StripeElement {
  margin-top: 3px;
}

.securePayment {
  height: 20px;
  vertical-align: top;
}

#sendDreamForm > .row {
  margin-bottom: 0rem;
}
