.App {
  width: 80%;
  margin: 20px auto;
}

.createDreamDetails {
  border: 1px solid lightgray;
  padding: 10px;
}

.loadingModal .modal-content {
  background-color: transparent;
  border: 0px;
}

.loadingModal .spinner-border {
  margin: auto;
}

.loadingModalBackdrop {
  background-color: white;
  opacity: 0.6;
}

/* Stripe Elements */

.StripeElement {
  box-sizing: border-box;

  height: 40px;
  width: 400px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
