.App {
  width: 80%;
  margin: 20px auto;
}

.createDreamDetails {
  border: 1px solid lightgray;
  padding: 10px;
}

.loadingModal .modal-content {
  background-color: transparent;
  border: 0px;
}

.loadingModal .spinner-border {
  margin: auto;
}
